{% extends 'base.html' %}
{% block content %}
<div style="text-align:center;">
    <h2 class="metallic-text">About us</h2>
    <p style="font-size:1.05em; line-height:1.6em; margin:25px auto; max-width:850px;">
        At <strong>Guardian Angel</strong>, we know that sometimes it feels like you have to sign with the devil just to make it through.  
        We understand that mental illness can cloud your clarity of mind, and that it can feel like you're walking through a storm  
        in a world where phones throw off your natural compass. We've been through all the trials, we've seen all the possibilities,  
        and we're here so you don't have to go through it all—without risking a human’s mental health to do it.  
        We have AI to take care of that. At <strong>Guardian Angel</strong>, we never lose control, and we keep things steady at home.  
        Help us help you. Accept this helping hand—though it may be artificial, its impact will be real.
    </p>

    <div class="lang-section">
        <h2 class="metallic-text">À propos de nous</h2>
        <p style="font-size:1.05em; line-height:1.6em; margin:25px auto; max-width:850px;">
            On le sait chez <strong>Guardian Angel</strong> que parfois vous sentez qu’il faut signer chez le diable pour s’en sortir,  
            on le sait que la maladie mentale vous enlève votre clarté d’esprit et que vous avez l’impression de marcher et vous diriger  
            dans une tempête dans un monde où les téléphones dérèglent votre boussole naturelle.  
            On est passé par toutes les épreuves, on a vu toutes les possibilités et on est là pour que vous n’ayez pas à le faire,  
            sans risquer la santé mentale d’un humain pour le faire.  
            On a des IA pour le faire ; chez <strong>Guardian Angel</strong>, on ne perd jamais les pédales  
            et on garde le contrôle à la maison.  
            Aidez-nous à vous aider : acceptez ce coup de main ; bien qu’il soit artificiel, il sera d’un impact réel.
        </p>
    </div>
</div>
{% endblock %}
