{% extends 'base.html' %}
{% block content %}
<h1 class="login-title">Log in</h1>
<p>Welcome back. Please log in to access your account.</p>

<form method="post">
    {% csrf_token %}
    <label for="id_username">Username:</label>
    <input type="text" name="username" id="id_username" required>

    <label for="id_password">Password:</label>
    <input type="password" name="password" id="id_password" required>

    <button type="submit" class="btn">Login</button>
</form>

<p style="margin-top:18px;">Don’t have an account?</p>
<div style="display:flex; gap:16px; justify-content:center; margin-top:4px;">
    <a href="{% url 'register_customer' %}" class="btn">Create Customer Account</a>
    <a href="{% url 'register_lawyer' %}" class="btn">Register as Lawyer</a>
</div>
{% endblock %}
