{% extends 'base.html' %}

{% block content %}
<h1 class="register-title">Create your client account</h1>
<p>Stay anonymous. Choose a username and secure your access.</p>

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}
        {% if field.errors %}
            <div style="color: red; font-size: 0.8rem;">{{ field.errors|striptags }}</div>
        {% endif %}
    {% endfor %}

    <button type="submit">Get Started</button>
</form>
{% endblock %}
